<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2020 Huawei Technologies Co., Ltd.
  ~
  ~  Licensed under the Apache License, Version 2.0 (the "License");
  ~  you may not use this file except in compliance with the License.
  ~  You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~  Unless required by applicable law or agreed to in writing, software
  ~  distributed under the License is distributed on an "AS IS" BASIS,
  ~  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  See the License for the specific language governing permissions and
  ~  limitations under the License.
  -->
<Configuration monitorInterval="10">
    <Appenders>
        <RollingFile name="RollingFileInfo"
                     fileName="${env:LOG_DIR:-/var/log/appo}/appo.log"
                     filePattern="${env:LOG_DIR:-/var/log/appo}/$${date:yyyy-MM}/appo-%d{yyyy-MM-dd}-%i.log"
                     filePermissions="rw-------">
            <!-- TODO: Re-check log file permissions as per security WG -->
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd} %d{HH:mm:ss:SSS}] %-5p [%t] [%C %M %L]: %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd} %d{HH:mm:ss:SSS}] %-5p [%t] [%C %M %L]: %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileInfo"/>
        </Root>
    </Loggers>
</Configuration>